<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wikus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Profil"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Kuliner_View_Activity"
            android:parentActivityName=".KulinerActivity">
        </activity>
        <activity
            android:name=".Wisata_View_Activity"
            android:parentActivityName=".WisataActivity">
        </activity>
        <activity
            android:name=".KulinerActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddEditNoteActivity"
            android:parentActivityName=".CatatanActivity" />
        <activity
            android:name=".WisataActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CatatanActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>